@page
@model Intranet.Pages.Repo.UploadModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RepoFile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RepoFile.File" class="control-label"></label>
                <input asp-for="RepoFile.File" class="form-control" />
                <span asp-validation-for="RepoFile.File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepoFile.ShownName" class="control-label"></label>
                <input asp-for="RepoFile.ShownName" class="form-control" />
                <span asp-validation-for="RepoFile.ShownName" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
                <label asp-for="RepoFile.Location" class="control-label"></label>
                <input asp-for="RepoFile.Location" class="form-control" />
                <span asp-validation-for="RepoFile.Location" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <input asp-for="RepoFile.RepoDir.Id" value="100" type="hidden" />
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
